html{
    font-size: 10px;
}
body{ 
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* REM - ROOT EM */
/* base pixel for rem is 16px for easy math change html to 10px */



.wrapper{
    display: flex;
    justify-content: space-between;
}


img{
    width: 20rem;

}


/* EM  */
/* This is dependent on the parent  */